Data-Engineering/0-Rename-Files/comandos.txt
Data-Engineering/1-Extract-Countries/comandos.txt
Data-Engineering/2-Extract-BM/comandos.txt
Data-Engineering/3-Indicators-To-Row/comandos.txt
Data-Engineering/4-Profitability-Category/comandos.txt